<div>
    <h2>
        <span jhiTranslate="ecoleApp.cours.home.title">Cours</span>
        <button class="btn btn-primary float-right jh-create-entity create-cours" [routerLink]="['/', { outlets: { popup: ['cours-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="ecoleApp.cours.home.createLabel">
            Create new Cours
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cours">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ecoleApp.cours.date">Date</span></th>
            <th><span jhiTranslate="ecoleApp.cours.heure">Heure</span></th>
            <th><span jhiTranslate="ecoleApp.cours.coursProfesseur">Cours Professeur</span></th>
            <th><span jhiTranslate="ecoleApp.cours.coursClass">Cours Class</span></th>
            <th><span jhiTranslate="ecoleApp.cours.salleCours">Salle Cours</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cours of cours ;trackBy: trackId">
                <td><a [routerLink]="['../cours', cours.id ]">{{cours.id}}</a></td>
                <td>{{cours.date | date:'mediumDate'}}</td>
                <td>{{cours.heure | date:'medium'}}</td>
                <td>
                    <div *ngIf="cours.coursProfesseurId">
                        <a [routerLink]="['../professeur', cours.coursProfesseurId  ]" >{{cours.coursProfesseurNom}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="cours.coursClassId">
                        <a [routerLink]="['../classe', cours.coursClassId  ]" >{{cours.coursClassNomClass}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="cours.salleCoursId">
                        <a [routerLink]="['../salle', cours.salleCoursId  ]" >{{cours.salleCoursNomSalle}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../cours', cours.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cours/'+ cours.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cours/'+ cours.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
