
<div *ngIf="classe">
    <h2><span jhiTranslate="ecoleApp.classe.detail.title">Classe</span> {{classe.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ecoleApp.classe.nomClass">Nom Class</span></dt>
        <dd>
            <span>{{classe.nomClass}}</span>
        </dd>
        <dt><span jhiTranslate="ecoleApp.classe.matiereEtudier">Matiere Etudier</span></dt>
        <dd>
            <span *ngFor="let matiereEtudier of classe.matiereEtudiers; let last = last">
                <a [routerLink]="['/matiere', matiereEtudier?.id ]">{{matiereEtudier.nomMatiere}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'classe/'+ classe.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
