<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEleveLabel" jhiTranslate="ecoleApp.eleve.home.createOrEditLabel">Create or edit a Eleve</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!eleve.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="eleve.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ecoleApp.eleve.nom" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                [(ngModel)]="eleve.nom" required/>
            <div [hidden]="!(editForm.controls.nom?.dirty && editForm.controls.nom?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nom?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ecoleApp.eleve.prenom" for="field_prenom">Prenom</label>
            <input type="text" class="form-control" name="prenom" id="field_prenom"
                [(ngModel)]="eleve.prenom" required/>
            <div [hidden]="!(editForm.controls.prenom?.dirty && editForm.controls.prenom?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.prenom?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ecoleApp.eleve.moyenne" for="field_moyenne">Moyenne</label>
            <input type="number" class="form-control" name="moyenne" id="field_moyenne"
                [(ngModel)]="eleve.moyenne" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ecoleApp.eleve.adresseEleve" for="field_adresseEleve">Adresse Eleve</label>
            <select class="form-control" id="field_adresseEleve" name="adresseEleve" [(ngModel)]="eleve.adresseEleveId">
                <option [ngValue]="null"></option>
                <option [ngValue]="adresseOption.id" *ngFor="let adresseOption of adresseeleves; trackBy: trackAdresseById">{{adresseOption.ville}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ecoleApp.eleve.eleveClasse" for="field_eleveClasse">Eleve Classe</label>
            <select class="form-control" id="field_eleveClasse" name="eleveClasse" [(ngModel)]="eleve.eleveClasseId" required>
                <option *ngIf="!editForm.value.eleveClasse" [ngValue]="null" selected></option>
                <option [ngValue]="classeOption.id" *ngFor="let classeOption of eleveclasses; trackBy: trackClasseById">{{classeOption.nomClass}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.eleveClasse?.dirty && editForm.controls.eleveClasse?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.eleveClasse?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
